<div class="field multi-image-upload">
  <span class="field-label">Images</span>
  <div class="multi-image-upload__grid" role="list">
    <button type="button" class="multi-image-upload__add" aria-label="Add images"><img src="" alt="" data-icon="plus"></button>
    <input type="file" class="upload-file-input" accept="image/*" multiple tabindex="-1" aria-hidden="true">
  </div>
  <div class="multi-image-upload__footer">
    <span class="upload-meta" data-upload-count></span>
    <button type="button" class="multi-image-upload__clear" data-upload-clear hidden>Clear all</button>
  </div>
</div>
