<div class="field checkbox-field">
  <span class="field-label">Checkbox</span>
  <div class="checkbox-stack">
    <button type="button" class="checkbox-row is-checked" role="checkbox" aria-checked="true">
      <span class="checkbox-box" aria-hidden="true">
        <img class="checkbox-box__icon checkbox-box__icon--check" src="" alt="" data-icon="check">
        <img class="checkbox-box__icon checkbox-box__icon--indeterminate" src="" alt="" data-icon="check-indeterminate">
      </span>
      <span class="checkbox-row__label">Check Active</span>
    </button>
    <button type="button" class="checkbox-row is-indeterminate" role="checkbox" aria-checked="mixed">
      <span class="checkbox-box" aria-hidden="true">
        <img class="checkbox-box__icon checkbox-box__icon--check" src="" alt="" data-icon="check">
        <img class="checkbox-box__icon checkbox-box__icon--indeterminate" src="" alt="" data-icon="check-indeterminate">
      </span>
      <span class="checkbox-row__label">Check Indeterminate</span>
    </button>
    <button type="button" class="checkbox-row" role="checkbox" aria-checked="false">
      <span class="checkbox-box" aria-hidden="true">
        <img class="checkbox-box__icon checkbox-box__icon--check" src="" alt="" data-icon="check">
        <img class="checkbox-box__icon checkbox-box__icon--indeterminate" src="" alt="" data-icon="check-indeterminate">
      </span>
      <span class="checkbox-row__label">Check Inactive</span>
    </button>
  </div>
</div>
