<div class="field file-upload">
  <span class="field-label">File</span>
  <div class="row">
    <div class="input-wrap file-upload__wrap" role="button" tabindex="0" aria-label="Choose file">
      <span class="input-icon"><img src="" alt="" data-icon="file"></span>
      <span class="file-upload__name" data-upload-name>Choose file</span>
      <span class="upload-meta" data-upload-meta></span>
      <button type="button" class="upload-clear" data-upload-clear aria-label="Remove file" hidden><img src="" alt="" data-icon="close"></button>
      <input type="file" class="upload-file-input" tabindex="-1" aria-hidden="true">
    </div>
  </div>
</div>
