<div class="flip-carousel" data-carousel>
  <div class="flip-carousel__stage">
    <div class="flip-carousel__ring"></div>
  </div>
  <div class="flip-carousel__nav">
    <button type="button" class="flip-carousel__nav-btn" data-carousel-prev>Prev</button>
    <div class="flip-carousel__mode-toggle">
      <button type="button" class="flip-carousel__mode-btn is-active" data-flip-mode="fan">Fan</button>
      <button type="button" class="flip-carousel__mode-btn" data-flip-mode="horizontal">Horizontal</button>
    </div>
    <button type="button" class="flip-carousel__nav-btn" data-carousel-next>Next</button>
  </div>
</div>
